<apex:page doctype="html-5.0" standardController="Account">   
    <apex:form >
    <h1>Click on these links for certification</h1><br/><br/>
    <table width="20%">
        <tr>
        <td width="40%"><apex:outputlink value="{!$Page.DynCert}" target="_blank">ISO <apex:param name="var" value="ISO"/><apex:param name="id" value="{!account.id}"/> </apex:outputlink></td>
        <td width="20%"></td>
        <td width="40%"><apex:outputlink value="{!$Page.DynCert}" target="_blank">6 Sigma <apex:param name="var" value="6 Sigma"/><apex:param name="id" value="{!account.id}"/> </apex:outputlink></td>
        </tr>
    </table>
    <!--<apex:commandlink id="CLick" value="Test" onclick="window.open('https://c.ap2.visual.force.com/apex/DynCert?var=ISO','_blank','height=600,location=no,resizable=yes,toolbar=no,status=no,menubar=no,scrollbars=1', 1)" style="background:#99CCFF; font-weight=bold"/>
    -->
    </apex:form>
</apex:page>