<apex:page controller="DynCon" doctype="html-5.0" showHeader="true" sidebar="false">
<apex:form >
<apex:pageBlock >
<apex:pageBlockSection >
    <center><h1><u>{!CertType}</u></h1></center><br/>
</apex:pageBlockSection>

    <fieldset>
        <legend><h1>Contacts Data</h1></legend>                          
                <apex:repeat value="{!wraplist}" var="item">
                <fieldset>
                    <legend>Contact Details</legend>
                    <apex:pageBlockSection >  
                        <apex:inputtext value="{!item.fname}" label="fname"/><br/>
                        <apex:inputtext value="{!item.lname}" label="lname"/><br/>
                        <apex:inputtext value="{!item.email}" label="email"/><br/>
                    </apex:pageBlockSection>
                </fieldset>
                </apex:repeat>
     <apex:commandButton value="submit" action="{!submit}"/>
     </fieldset>
<!--<apex:pageBlockSection >
    <apex:pageBlockTable value="{!wraplist}" var="item">
        <apex:column value="{!item.fname}"/>
        <apex:column value="{!item.lname}"/>
        <apex:column value="{!item.email}"/>
    </apex:pageBlockTable>
</apex:pageBlockSection>-->
</apex:pageblock>
<!--
<apex:pageBlockSection >
   <apex:pageBlockTable value="{!wrapQues}" var="item">
        <apex:column value="{!item.questions}"/>
        <apex:column value="{!item.type}"/>
        <apex:column value="{!item.options}"/>
    </apex:pageBlockTable>
</apex:pageBlockSection>-->
<apex:pageBlock >
<apex:pageBlockSection >
    <apex:outputPanel id="op1">
  
    <apex:repeat value="{!wrapQues}" var="item">     
        
        <apex:pageBlockSection rendered="{!if((item.quesNumber!=4  && item.quesNumber!=5)|| ((item.quesNumber==4 || item.quesNumber==5)&& wrapQues[2].selectRadio1),true,false)}" >                                   
            
            <!--<apex:outputtext value="{!item.quesNumber }" label="Ques Number"/><br/>-->
            <apex:outputtext value="{!item.questions }" label="Ques"/><br/>            
            <!--<apex:outputtext value="{!item.type }" label="Type"/><br/>-->
            <!--<apex:outputtext value="{!item.options }" label="options"/><br/>          -->
            
            <apex:inputtext value="{!item.textAns}" label="Ans" rendered="{!item.Type=='Text'}"/>
            
            <apex:selectCheckboxes label="select" rendered="{!item.Type=='Checkbox'}" layout="pageDirection" value="{!item.selectValueCheckbox}">
                <apex:selectOptions value="{!item.optionList}" />
            </apex:selectCheckboxes>
            
            <apex:selectList multiselect="false" size="1"  label="select" rendered="{!item.Type=='Multi-Select'}">
                    <apex:selectOptions value="{!item.optionList}" />
            </apex:selectList>            
            
            <apex:selectRadio label="select" rendered="{!if(item.quesNumber!=3 && item.Type=='Radio',true,false)}" layout="pageDirection" value="{!item.selectRadio1}">
                <apex:selectOptions value="{!item.optionList}" />           
            </apex:selectRadio> 
            
            <apex:selectRadio label="select" rendered="{!if(item.quesNumber==3 && item.Type=='Radio',true,false)}" layout="pageDirection" value="{!item.selectRadio1}">
                <apex:selectOptions value="{!item.optionList}" />
                <apex:actionSupport event="onchange" reRender="op1"/>           
            </apex:selectRadio> 
            
            <apex:inputField value="{!qna.Date__c}" rendered="{!item.Type=='Date'}"/>
               
             <br/><br/><br/>
        </apex:pageBlockSection>    
         
    </apex:repeat>
  
    <apex:commandButton value="save" action="{!save}"/>
    
    </apex:outputPanel>
</apex:pageBlockSection>    
</apex:pageBlock>
   <!--<apex:pageBlock >
    <apex:pageBlockSection >
    <apex:repeat value="{!wrapQues}" var="item">
        <apex:outputText value="{!item.quesNumber }"/><br/>
        {!item.selectValueCheckbox}<br/>
        <apex:outputText value="{!item.selectRadio1}"/><br/>
        <apex:outputText value="{!qna.Date__c}"/><br/>
        <apex:outputtext value="{!item.textAns}"/><br/><br/>
    </apex:repeat>
    </apex:pageBlockSection>

    </apex:pageBlock>-->
</apex:form>
</apex:page>